.code-tabs {
	position: relative;
	border-radius: 6px;
	background-color: rgb(15, 15, 16);
}

.code-tabs-menu {
	display: flex;
	flex-direction: row;
	overflow: hidden;
  border: none;
	border-radius: 6px;
	background: rgb(58, 58, 58);
	color: #c2c3c4;
	width: 100%;
	padding: 4px;
	text-indent: 4px;
}

.code-tabs-menu-button {
	margin: 0 5px 0 0;
	padding: 0px 10px;
	display: block;
	cursor: pointer;
	font-weight: bold;
  transition: 0.3s;
}

.code-tabs .code-tab > div {
	margin-top: 0;
}

div.hidden {
  display: none;
}
